apiVersion: v1 
kind: ReplicationController 
metadata: 
  name: mytomcat 
spec: 
  replicas: 2 
  selector: 
    app: mytomcat 
  template: 
    metadata: 
      labels: 
        app: mytomcat 
    spec: 
      containers: 
        - name: mytomcat 
          image: tomcat:7-jre7
          ports: 
          - containerPort: 8080